MONGO_ROOT_USER=root
MONGO_ROOT_PASSWORD=root
MONGO_USER=csc3104
MONGO_PASSWORD=csc3104
MONGO_DATABASE=travelexp
MONGO_WISHLIST_PORT=27017
MONGO_NOTIFICATION_PORT=27018
MONGO_FRIENDS_PORT=27019

MYSQL_ACCOUNT_DATABASE=account
MYSQL_USER=csc3104
MYSQL_PASSWORD=csc3104
MYSQL_ROOT_PASSWORD=root
