MONGO_ROOT_USER=root
MONGO_ROOT_PASSWORD=root
MONGO_USER=csc3104
MONGO_PASSWORD=csc3104
MONGO_DATABASE=travelexp
MONGO_HOST=mongodb
MONGO_PORT=27017

ACCOUNT_MYSQL_DATABASE=account
ACCOUNT_MYSQL_USER=sa
ACCOUNT_MYSQL_PASSWORD=password
ACCOUNT_MYSQL_ROOT_PASSWORD=password
