MONGO_ROOT_USER=root
MONGO_ROOT_PASSWORD=root
MONGO_USER=csc3104
MONGO_PASSWORD=csc3104
MONGO_DATABASE=travelexp
MONGO_WISHLIST_PORT=27017
MONGO_NOTIFICATION_PORT=27018
MONGO_FRIENDS_PORT=27019

ACCOUNT_MYSQL_DATABASE=account
ACCOUNT_MYSQL_USER=sa
ACCOUNT_MYSQL_PASSWORD=password
ACCOUNT_MYSQL_ROOT_PASSWORD=password
