/* WishList.css */
.wishlist-container {
    text-align: center;
    padding: 20px;
}

.wishlist-item {
    font-size: 18px;
    cursor: pointer;
}

.table-light {
    background-color: #f8f9fa; /* light background color */
}

.table-secondary {
    background-color: #e9ecef; /* slightly darker background color */
}
